In [1]:
import pandas as pd

In [2]:
# 2 main datatypes
series=pd.Series(["BMW","Toyota","Honda"])

In [3]:
series

0       BMW
1    Toyota
2     Honda
dtype: object

In [4]:
# series= 1-dimensional

In [7]:
colours=pd.Series(["Red","Blue","White"])
colours

0      Red
1     Blue
2    White
dtype: object

In [9]:
# Dataframe = 2-dimensional 
car_data=pd.DataFrame({"Car make":series,"Colours":colours})
car_data

  Car make Colours
0      BMW     Red
1   Toyota    Blue
2    Honda   White