# Introduction to scikit-learn (sklearn)
This notebook demostrates some of the most useful functions of the beautiful scikit-learn library

What we're going to cover:

0. An end-to-end scikit-learn workflow
1. Getting the data ready
2. Choose the right estimator/algorithm for our problems
3. Fit the model/algorithm and use it to make predictions on our data
4. Evaluating a model
5. Improve a model
6. Save and load a trained model
7. Putting it all together!

# 0. An end-to-end scikit-learn workflow

In [16]:
import numpy as np

In [4]:
# 1. Get the data ready
import pandas as pd
heart_disease=pd.read_csv("heart-disease.csv")
heart_disease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [5]:
# create X (features matrix)
X=heart_disease.drop("target",axis=1)

# create y (labels)
y=heart_disease["target"]

In [13]:
# choose the right model and hyperparameters
from sklearn.ensemble import RandomForestClassifier
clf=RandomForestClassifier(n_estimators=100)

# we'll keep the default hyperparameters 
clf.get_params()

{'bootstrap': True,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'min_impurity_decrease': 0.0,
 'min_impurity_split': None,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [20]:
# 3. Fit the model to the  training data
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test=train_test_split(X,y,test_size=0.2)

In [21]:
clf.fit(X_train,y_train);

In [22]:
X_train

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
119,46,0,0,138,243,0,0,152,1,0.0,1,0,2
30,41,0,1,105,198,0,1,168,0,0.0,2,1,2
143,67,0,0,106,223,0,1,142,0,0.3,2,2,2
55,52,1,1,134,201,0,1,158,0,0.8,2,1,2
196,46,1,2,150,231,0,1,147,0,3.6,1,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
127,67,0,2,152,277,0,1,172,0,0.0,2,1,2
99,53,1,2,130,246,1,0,173,0,0.0,2,3,2
35,46,0,2,142,177,0,0,160,1,1.4,0,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2
82,60,0,2,102,318,0,1,160,0,0.0,2,1,2

In [23]:
X_test

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
208,49,1,2,120,188,0,1,139,0,2.0,1,3,3
85,67,0,2,115,564,0,0,160,0,1.6,1,0,3
96,62,0,0,140,394,0,0,157,0,1.2,1,0,2
73,51,1,0,140,261,0,0,186,1,0.0,2,0,2
32,44,1,1,130,219,0,0,188,0,0.0,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
223,56,0,0,200,288,1,0,133,1,4.0,0,2,3
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
139,64,1,0,128,263,0,1,105,1,0.2,1,1,3
70,54,1,2,120,258,0,0,147,0,0.4,1,0,3
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3

In [26]:
# make a prediction 
y_pred=clf.predict(X_test)
y_pred

array([0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1,
       1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1], dtype=int64)

In [27]:
y_test

208    0
85     1
96     1
73     1
32     1
      ..
223    0
0      1
139    1
70     1
299    0
Name: target, Length: 61, dtype: int64

In [28]:
# 4. Evaluate the model om the training data and test data 
clf.score(X_train, y_train)

1.0

In [30]:
clf.score(X_test,y_test)

0.819672131147541

In [31]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.85      0.76      0.80        29
           1       0.80      0.88      0.84        32

    accuracy                           0.82        61
   macro avg       0.82      0.82      0.82        61
weighted avg       0.82      0.82      0.82        61

In [32]:
confusion_matrix(y_test,y_pred)

array([[22,  7],
       [ 4, 28]], dtype=int64)

In [33]:
accuracy_score(y_test,y_pred)

0.819672131147541

In [37]:
# 5. Improve a model
# Try different amount of n_estimators 
np.random.seed(42)
for i in range(10,100,10):
    print(f"Trying model with {i} estimators..")
    clf=RandomForestClassifier(n_estimators=i).fit(X_train,y_train)
    print(f"Model accuracy on test set: {clf.score(X_test,y_test)*100:.2f}%")
    print("")

Trying model with 10 estimators..
Model accuracy on test set: 81.97%

Trying model with 20 estimators..
Model accuracy on test set: 85.25%

Trying model with 30 estimators..
Model accuracy on test set: 85.25%

Trying model with 40 estimators..
Model accuracy on test set: 85.25%

Trying model with 50 estimators..
Model accuracy on test set: 85.25%

Trying model with 60 estimators..
Model accuracy on test set: 85.25%

Trying model with 70 estimators..
Model accuracy on test set: 85.25%

Trying model with 80 estimators..
Model accuracy on test set: 83.61%

Trying model with 90 estimators..
Model accuracy on test set: 81.97%

In [38]:
# 6. Save a model and load it
import pickle
pickle.dump(clf,open("random_forest_model_1.plk","wb"))

In [39]:
loaded_model=pickle.load(open("random_forest_model_1.plk","rb"))
loaded_model.score(X_test,y_test)

0.819672131147541